


#clear {
    display: none;
    text-transform: uppercase;
    font-size: small;
    margin-bottom: 10px;
}

:root {
    --primary-color:white;
    --secondary-color:black;    
    /* --ternary-color:rgb(41, 39, 39); */
}

.dark-theme{
    --primary-color:black;
    --secondary-color:white;    
    --ternary-color:rgb(41, 39, 39);
}

#clear:hover {
    background-color: purple;
    font-size: larger;
    transition: 0.8s;
    border: red;
}

#btn33 {
    font-size: large;
    background-color: purple;
}

#btn33:hover {
    background-color: red;
    transition: 1s;
    font-size: small;
}

  .nav-heading:hover {
      text-shadow: none;
      border: none;
    }
    
#searchText {
    background-color: rgb(32, 32, 32);       
}

#searchText:hover {
    transition: 1s;
}

body {
/* background-image: url("../imgs/"); */
background-color: rgb(209, 206, 206);
background-repeat: no-repeat;
background-size: cover;
}

h1 {
font-family:aerial;
 color:#bd8cbf;
 text-shadow:5px 5px 5px rgb(240, 242, 243);
}

a:link {
color: black;
font-size: small;
background-color: transparent;
text-decoration: none;
cursor: pointer;
}

h1 {
    font-family: aerial;
    color: #7b0580;
    text-shadow: 5px 5px 5px rgba(237, 238, 238, 0.4);
}

#delicon:hover {
    cursor: pointer;
}

.container .welcome-text {
padding-top: 10px;
}

#libraryForm {
    border: 3px solid;
    box-shadow: 0px 3px 20px grey, 1px 0px 3px #bd8cbf;
    padding: 20px;
    border-radius: 20px;
  }
  
.form-check1:hover,
.form-check2:hover,
.form-check3:hover,
.form-check4:hover, 
.form-check5:hover, 
.form-check6:hover {	    
color: rgb(241, 241, 245);
font-weight:bold;
}

#table {
    border:3px solid rgb(214, 46, 46);
    box-shadow:0px 3px 20px rgb(183, 22, 22),1px 0px 3px #bd8cbf;
    padding: 10px;
      border-radius:20px;
}   

.form-control{
    /* color:white; */
    /* color:black; */
    background-color: var(--ternary-color);
}

#table {
    border: 3px solid;
    box-shadow: 0px 3px 20px grey, 1px 0px 3px #bd8cbf;
    padding: 10px;
    border-radius: 20px;
}

